USE [master]
GO
/****** Object:  Database [CafeteriaITSEDB]    Script Date: 05/25/2025 3:18:21 p. m. ******/
CREATE DATABASE [CafeteriaITSEDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafeteriaITSEDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSQLSERVER\MSSQL\DATA\CafeteriaITSEDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafeteriaITSEDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSQLSERVER\MSSQL\DATA\CafeteriaITSEDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CafeteriaITSEDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CafeteriaITSEDB]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 05/25/2025 3:18:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/25/2025 3:18:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([MenuID], [ItemName], [Price]) VALUES (1, N'Café', CAST(1.50 AS Decimal(10, 2)))
INSERT [dbo].[Menus] ([MenuID], [ItemName], [Price]) VALUES (2, N'Sándwich', CAST(3.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Email], [PasswordHash], [Role]) VALUES (1, N'estudiante1@itse.ac.pa', N'temp_password', N'Estudiante')
INSERT [dbo].[Users] ([UserID], [Email], [PasswordHash], [Role]) VALUES (2, N'profesor1@itse.ac.pa', N'temp_password', N'Profesor')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053476E6F28F]    Script Date: 05/25/2025 3:18:21 p. m. ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Administracion' OR [Role]='Trabajador' OR [Role]='Profesor' OR [Role]='Estudiante'))
GO
USE [master]
GO
